<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="./css/style.css">
        
    </head>
    <body>
        {{>header}}
        <p>{{content}}</p>
        <img class="portrait" src="./img/p1.jpg" alt="cannot display image">
        {{>footer}}
    </body>
</html>